@font-face {
    font-family: 'Raleway';
    font-weight: 400;
    src: local('Raleway Regular'),
        url("./Raleway-Regular.woff") format("woff"),
        url("./Raleway-Regular.woff2") format("woff2");
    font-display: block;
}

@font-face {
    font-family: 'Raleway';
    font-weight: 800;
    src: local('Raleway Bold'),
        url("./Raleway-ExtraBold.woff") format("woff"),
        url("./Raleway-ExtraBold.woff2") format("woff2");
    font-display: block;
}